<nav class="bg-secondary">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          (click)="toggleBurgerMenu()"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div
          class="flex-shrink-0 flex items-center px-3 text-sm font-medium hover:bg-gray-700 rounded-md cursor-pointer"
          [routerLink]="'/home'"
        >
          <img
            class="h-8 w-auto"
            src="../../../assets/navbar/logo.svg"
            alt="Molbitzer-Turniere"
            *ngIf="!loadingIndicator"
          />
          <span class="lds-dual-ring" *ngIf="loadingIndicator"></span>
          <span class="ml-2 text-gray-300">Molbitzer-Turniere</span>
        </div>

        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              [routerLink]="'/home'"
              [routerLinkActive]="'bg-gray-900'"
              >Home</a
            >
            <a
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              [routerLink]="'/tournaments'"
              [routerLinkActive]="'bg-gray-900'"
              >Tuniere</a
            >
            <a
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              [routerLink]="'/table'"
              [routerLinkActive]="'bg-gray-900'"
              >Ewige Tabelle</a
            >
            <a
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              [routerLink]="'/credits'"
              [routerLinkActive]="'bg-gray-900'"
              >Credits</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{ 'hidden sm:hidden': !burgerMenuOpen, 'block sm:block': burgerMenuOpen }"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a
        href="/home"
        class="text-white block px-3 py-2 rounded-md text-base font-medium"
        [routerLink]="'/home'"
        [routerLinkActive]="'bg-gray-900'"
        (click)="burgerMenuOpen = false"
        >Home</a
      >
      <a
        href="/tournaments"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        [routerLink]="'/tournaments'"
        [routerLinkActive]="'bg-gray-900'"
        (click)="burgerMenuOpen = false"
        >Tuniere</a
      >
      <a
        href="/table"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        [routerLink]="'/table'"
        [routerLinkActive]="'bg-gray-900'"
        (click)="burgerMenuOpen = false"
        >Ewige Tabelle</a
      >
      <a
        href="/credits"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        [routerLink]="'/credits'"
        [routerLinkActive]="'bg-gray-900'"
        (click)="burgerMenuOpen = false"
        >Credits</a
      >
    </div>
  </div>
</nav>
