<ui-common-header-image
  [imageUrl]="'../../../assets/table/table-header.jpg'"
  [headerText]="'EWIGE TABELLE'"
></ui-common-header-image>

<ui-common-info-banner
  [heading]="'Ewige Tabelle'"
  [text]="
    'Der Lokalmatador Adrian Baur spielt seit Jahren seinen Heimvorteil aus und führt mit 118 Punkten und 4 Titeln die ewige Tabelle klar an. Doch das Feld verdichtet sich. Aufstrebende Talente wie Pascal Kny und Tobias Neumann machen dem Spitzenreiter mächtig zu schaffen, sodass in den letzten zwei Jahren der Pokal nicht in Molbitz bleiben konnte.'
  "
></ui-common-info-banner>

<ui-common-divider></ui-common-divider>

<feature-table-responsive-table
  [dataSource]="(tableDataSource | async) || []"
></feature-table-responsive-table>
