.card {
  border: 0.25rem solid #246a73;
  height: auto;
  margin-bottom: 2rem;
}

.card-header {
  width: calc(100% - 1rem);
  background-color: #368f8b;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.card-body {
  background-color: #f3dfc1;
  padding: 0.5rem;
}
