@import 'styleguide/main';
.parent {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  .base {
    display: flex;
    background-color: $primary-color;
    .content-container {
      flex: 1;
      margin-bottom: 1rem;
    }
  }
}
