<div class="parent">
  <ui-common-navbar class="sticky top-0"></ui-common-navbar>
  <main class="base">
    <div class="content-container">
      <ng-template *ngIf="templateRef" [ngTemplateOutlet]="templateRef"></ng-template>
    </div>
  </main>
  <ui-common-footer></ui-common-footer>
</div>
