@import 'styleguide/main';

$divider-color: rgba($secondary-color, 0.2);

.home-divider {
  width: 80%;
  height: 0.25rem;
  background-color: $divider-color;
  border-color: $divider-color;
  margin-top: 2.5rem;
  border-radius: 25px;
}
