@import 'styleguide/main';
tbody > tr {
  text-align: center;
}

.hide-until-small,
.hide-until-medium,
.hide-until-large,
.hide-until-xlarge {
  display: none;
}

@media (min-width: $breakpoint-small) {
  .hide-until-small {
    display: table-cell;
  }
}
@media (min-width: $breakpoint-medium) {
  .hide-until-medium {
    display: table-cell;
  }
}
@media (min-width: $breakpoint-large) {
  .hide-until-large {
    display: table-cell;
  }
}
@media (min-width: $breakpoint-xlarge) {
  .hide-until-xlarge {
    display: table-cell;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;

  thead tr {
    background-color: $accent-color;
    color: white;
    text-align: center;
  }

  th,
  tr td {
    padding: 12px 15px;
  }

  tbody tr {
    height: 50px;
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $accent-color;
  }

  .text-left {
    text-align: left;
  }

  .position-min-width {
    min-width: 5rem;
  }
}
