<div class="flex justify-center">
  <table
    role="table"
    class="m-5 bg-white w-4/5 border-gray-300 border-2 card-shadow table-auto"
  >
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader" class="text-left position-min-width hide-until-large">
          #
        </th>
        <th role="columnheader" class="text-left">Name</th>
        <th role="columnheader" class="hide-until-xlarge">Teilnahmen</th>
        <th role="columnheader">Spiele</th>
        <th role="columnheader" class="hide-until-medium">Siege</th>
        <th role="columnheader" class="hide-until-medium">Unentschieden</th>
        <th role="columnheader" class="hide-until-medium">Niederlagen</th>
        <th role="columnheader" class="hide-until-xlarge">Tore</th>
        <th role="columnheader" class="hide-until-xlarge">Gegentore</th>
        <th role="columnheader" class="hide-until-xlarge">Tordifferenz</th>
        <th role="columnheader">Punkte</th>
        <th role="columnheader">Titel</th>
        <th role="columnheader" class="text-left hide-until-large">Höchster Sieg</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      <tr role="row" *ngFor="let tableData of tablePlayerViewModel; index as i">
        <td role="cell" class="text-left hide-until-large">
          {{ i + 1 }}
        </td>
        <td role="cell" class="text-left">{{ tableData.name }}</td>
        <td role="cell" class="hide-until-xlarge">{{ tableData.attendances }}</td>
        <td role="cell">{{ tableData.homeGames.length + tableData.awayGames.length }}</td>
        <td role="cell" class="hide-until-medium">{{ tableData.wins }}</td>
        <td role="cell" class="hide-until-medium">{{ tableData.draws }}</td>
        <td role="cell" class="hide-until-medium">{{ tableData.loses }}</td>
        <td role="cell" class="hide-until-xlarge">{{ tableData.goalsScored }}</td>
        <td role="cell" class="hide-until-xlarge">{{ tableData.goalsConceded }}</td>
        <td role="cell" class="hide-until-xlarge">
          <span *ngIf="tableData.goalsScored - tableData.goalsConceded > 0">+</span
          >{{ tableData.goalsScored - tableData.goalsConceded }}
        </td>
        <td role="cell">{{ tableData.points }}</td>
        <td role="cell">{{ tableData.titles }}</td>
        <td
          role="cell"
          class="hide-until-large text-left"
          *ngIf="tableData.highestWinViewModel"
        >
          {{ tableData.highestWinViewModel?.goalsScored }}:{{
            tableData.highestWinViewModel?.goalsConceded
          }}
          vs. {{ tableData.highestWinViewModel?.enemyName }}
        </td>
        <td role="cell" class="hide-until-large" *ngIf="!tableData.highestWinViewModel">
          ---
        </td>
      </tr>
    </tbody>
  </table>
</div>
