<ui-common-header-image
  [imageUrl]="'../../../assets/tournaments/tournaments-header.jpg'"
  [headerText]="'TURNIERÜBERSICHT'"
></ui-common-header-image>

<ui-common-info-banner
  [heading]="'Turniere'"
  [text]="
    'Angefangen mit 11 Teilnehmern im Jahr 2015, stieg die Zahl an Teilnehmern und somit auch an Spielen stetig an. Hier gibt es eine Übersicht über alle bisher gespielten Spiele aller Turniere. Mit dabei sind faustdicke Überraschungen wie der Sieg von Julius Schubert über Max Gros (Playoff-Finale 2016), komplette Demütigungen des Gegners wie das 9:1 von Oliver Mälzer über Thomas Godts im Jahr 2020 oder ebenfalls 2020 das erste rein weibliche Spiel zwischen Sabine Baur und Celine Eckstein.'
  "
></ui-common-info-banner>

<ui-common-divider></ui-common-divider>

<feature-tournaments-tournaments-filter
  *ngIf="tournamentsAvailableYears$ | async as availableYears"
  [availableYears]="availableYears"
  [initialYear]="selectedYearChangedSubject.value"
  (selectedYearChanged)="onSelectedYearChanged($event)"
>
</feature-tournaments-tournaments-filter>

<feature-tournaments-tournament-games
  *ngIf="selectedYearsTournamentData$ | async as tournamentData"
  [tournament]="tournamentData"
>
</feature-tournaments-tournament-games>
