<div class="flex justify-center slide-right">
  <div
    class="flex justify-between items-stretch min-h-testimonial w-4/5 md:w-2/3 card-shadow"
  >
    <feature-home-bordered-image
      *ngIf="!reverse"
      class="hidden sm:block sm:w-2/6"
      [imageUrl]="imageUrl"
    ></feature-home-bordered-image>
    <div
      class="w-full sm:w-4/6 flex flex-row items-center p-5 border-2 border-gray-300 bg-white"
    >
      <div class="flex items-stretch">
        <feature-home-profile-image
          class="block sm:hidden"
          [profileImageUrl]="profileImageUrl"
        ></feature-home-profile-image>

        <feature-home-quote [author]="author" [quote]="quote"></feature-home-quote>
      </div>
    </div>
    <feature-home-bordered-image
      *ngIf="reverse"
      class="hidden sm:block sm:w-2/6"
      [imageUrl]="imageUrl"
      [isBorderLeftSide]="false"
    ></feature-home-bordered-image>
  </div>
</div>
