@import 'styleguide/main';
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  animation: 0.75s ease-out 0s 1 slideInFromRight;
  padding: 30px;
}
