<ui-common-card [cardHeader]="'Aktuelle Runde'">
  <ng-template>
    <ul>
      <li>Turnier: {{ roundDetailData.tournament?.id }}</li>
      <li>Datum: {{ roundDetailData.tournament?.date | date: 'mediumDate' }}</li>
      <li>Runde: {{ roundDetailData.title }}</li>
    </ul>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Neues Spiel'">
  <ng-template>
    <ui-common-simple-generic-form
      [formGroup]="gameForm"
      [submitFunction]="submitFunction"
      [submitMessageText]="'Das Spiel wurde erfolgreich erstellt.'"
      [errorMessageText]="
        'Bei diesem Vorgang ist ein Fehler aufgetreten versuche es bitte erneut. Bitte überprüfe dass du einen Spieler aus der Selectbox ausgewählt hast und ihn nicht einfach nur eingetippt hast.'
      "
      [inlineForm]="false"
      (formSuccessfullSubmitted)="onFormSuccessfullSubmitted($event)"
    >
      <ng-template>
        <label class="title-input">Heim:</label>
        <div class="ng-autocomplete-container">
          <ng-autocomplete
            [data]="playerData"
            [searchKeyword]="'name'"
            formControlName="homePlayer"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="noFound"
          >
          </ng-autocomplete>
        </div>

        <label class="title-input">Auswärts:</label>
        <div class="ng-autocomplete-container">
          <ng-autocomplete
            [data]="playerData"
            formControlName="awayPlayer"
            [searchKeyword]="'name'"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="noFound"
          >
          </ng-autocomplete>
        </div>

        <label class="title-input">Heimtore:</label>
        <input type="number" placeholder="Heimtore" formControlName="homePlayerScore" />
        <label class="title-input">Auswärtstore:</label>
        <input
          type="number"
          placeholder="Auswärtstore"
          formControlName="awayPlayerScore"
        />
        <label class="pure-checkbox">
          <input
            type="checkbox"
            formControlName="hasAdditionalInformation"
          />Verlängerung?</label
        >

        <div *ngIf="gameForm.value.hasAdditionalInformation">
          <label>Heimtore nach Verlängerung:</label>
          <input
            type="number"
            placeholder="Heimtore n.V."
            formControlName="extraTimeHomePlayerScore"
          />

          <label>Auswärtstore nach Verlängerung:</label>
          <input
            type="number"
            placeholder="Auswärtstore n.V."
            formControlName="extraTimeAwayPlayerScore"
          />

          <label class="pure-checkbox">
            <input
              type="checkbox"
              formControlName="hasPenaltyShootout"
            />Elfmeterschießen?</label
          >

          <div *ngIf="gameForm.value.hasPenaltyShootout">
            <label>Heimtore nach Elfmeterschießen</label>
            <input
              type="number"
              placeholder="Heimtore n.E."
              formControlName="penaltyShootoutHomePlayerScore"
            />

            <label>Auswärtstore nach Elfmeterschießen</label>
            <input
              type="number"
              placeholder="Auswärtstore n.E."
              formControlName="penaltyShootoutAwayPlayerScore"
            />
          </div>
        </div>
      </ng-template>
    </ui-common-simple-generic-form>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Alle Spiele'">
  <ng-template>
    <ui-common-table-data-list-with-action
      [dataSource]="gamesTableDataSource"
      [tableHeaderDisplayNames]="['ID', 'Heim', 'Heimtore', 'Auswärtstore', 'Auswärts']"
      [dataSourceDisplayProperties]="[
        'id',
        'homePlayerName',
        'homePlayerScore',
        'awayPlayerScore',
        'awayPlayerName'
      ]"
      [tableActionIdentifier]="'id'"
    >
      <ng-template let-tableaction>
        <a class="delete-action" (click)="deleteGame(tableaction.linkParameter)"
          >Spiel löschen</a
        >
      </ng-template>
    </ui-common-table-data-list-with-action>
  </ng-template>
</ui-common-card>

<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #noFound let-nofound>Kein Spieler gefunden</ng-template>
