<div class="h-auto bg-gray-100 mx-10 sm:mx-20 my-20 p-10">
  <div class="font-bold text-2xl underline">Imagecredits to:</div>
  <ul class="list-disc mx-10 my-5">
    <li>
      Patricia Vogel
      <i
        class="fa fa-instagram mr-2 cursor-pointer text-gray-500"
        (click)="navigateToUrl('https://www.instagram.com/fauxpas.emotions/')"
      ></i>
    </li>
    <li>
      JC Gellidon
      <i
        class="fa fa-camera mr-2 cursor-pointer text-gray-500"
        (click)="navigateToUrl('https://unsplash.com/photos/XmYSlYrupL8')"
      ></i>
    </li>
    <li>
      Valentin B. Kremer
      <i
        class="fa fa-camera mr-2 cursor-pointer text-gray-500"
        (click)="navigateToUrl('https://unsplash.com/photos/HO6oxG0su04')"
      ></i>
    </li>
    <li>
      Aaron Burden
      <i
        class="fa fa-camera mr-2 cursor-pointer text-gray-500"
        (click)="navigateToUrl('https://unsplash.com/photos/Xy-F5GptgR8')"
      ></i>
    </li>
  </ul>
  <div class="font-bold text-2xl underline">Iconcredits to:</div>
  <ul class="list-disc mx-10 my-5">
    <li>
      <a
        (click)="navigateToUrl('https://fontawesome.com/')"
        class="cursor-pointer underline"
        >Fontawesome-Icons</a
      >, License:
      <a
        (click)="navigateToUrl('https://fontawesome.com/license')"
        class="cursor-pointer underline"
        >Fontawesome-License</a
      >
      -- no changes were made.
    </li>
  </ul>
</div>
