<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th *ngFor="let headerName of tableHeaderDisplayNames">{{ headerName }}</th>
      <th *ngIf="tableActionIdentifier">Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource">
      <td *ngFor="let property of dataSourceDisplayProperties">{{ item[property] }}</td>
      <td *ngIf="tableActionIdentifier">
        <ng-template
          *ngIf="templateRef"
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{
            $implicit: {
              linkParameter: item[tableActionIdentifier]
            }
          }"
        >
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
