@import 'styleguide/main';
.game-grid {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  @media (min-width: $breakpoint-medium) {
    grid-template-columns: 3fr 1fr 3fr;
  }
  column-gap: 10px;
}
