<div class="flex justify-center">
  <div class="w-3/4 sm:w-4/5">
    <div
      class="border-accent border-2 mb-5 rounded-sm shadow-md"
      *ngFor="let round of tournament?.rounds"
    >
      <div class="p-2 bg-accent text-white font-semibold">{{ round.title }}</div>
      <div
        class="p-2 bg-gray-100 even:bg-white game-grid"
        *ngFor="let game of round.games"
      >
        <div class="w-full text-center">{{ game.homePlayer.name }}</div>
        <div class="w-full text-center font-bold">
          <p>{{ game.homePlayerScore }} - {{ game.awayPlayerScore }}</p>
          <p class="font-light text-xs" *ngIf="game.additionalInformation != null">
            <ng-container
              *ngIf="game.additionalInformation.penaltyShootoutHomePlayerScore == null"
              >({{ game.additionalInformation.extraTimeHomePlayerScore }}-{{
                game.additionalInformation.extraTimeAwayPlayerScore
              }}
              n.V.)</ng-container
            >
            <ng-container
              *ngIf="game.additionalInformation.penaltyShootoutHomePlayerScore != null"
              >({{ game.additionalInformation.penaltyShootoutHomePlayerScore }}-{{
                game.additionalInformation.penaltyShootoutAwayPlayerScore
              }}
              n.E.)</ng-container
            >
          </p>
        </div>
        <div class="w-full text-center">{{ game.awayPlayer.name }}</div>
      </div>
    </div>
  </div>
</div>
