<ui-common-card [cardHeader]="'Neuen Spieler erstellen'">
  <ng-template>
    <ui-common-simple-generic-form
      [formGroup]="playerForm"
      [submitFunction]="submitFunction"
      [submitMessageText]="'Der Spieler wurde erfolgreich erstellt.'"
      [errorMessageText]="
        'Bei diesem Vorgang ist ein Fehler aufgetreten versuche es bitte erneut.'
      "
      (formSuccessfullSubmitted)="onFormSuccessfullSubmitted($event)"
    >
      <ng-template>
        <label class="title-input">Kompletter Name: </label>
        <input type="text" placeholder="Name" formControlName="name" />
      </ng-template>
    </ui-common-simple-generic-form>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Alle Spieler'">
  <ng-template>
    <ui-common-table-data-list-with-action
      [dataSource]="players"
      [tableHeaderDisplayNames]="['ID', 'Name']"
      [dataSourceDisplayProperties]="['id', 'name']"
      [tableActionIdentifier]="'id'"
    >
      <ng-template let-tableaction>
        <a [routerLink]="['../player', tableaction.linkParameter]">Zum Spielerprofil</a>
      </ng-template>
    </ui-common-table-data-list-with-action>
  </ng-template>
</ui-common-card>
