<ui-common-card [cardHeader]="'Aktueller Spieler'">
  <ng-template>
    <ul>
      <li><b>Id:</b> {{ playerDetailData.id }}</li>
      <li><b>Name:</b> {{ playerDetailData.name }}</li>
      <li><b>Points:</b> {{ playerDetailData.points }}</li>
      <li><b>Wins:</b> {{ playerDetailData.wins }}</li>
      <li><b>Losses:</b> {{ playerDetailData.loses }}</li>
      <li><b>Draws:</b> {{ playerDetailData.draws }}</li>
      <li><b>Goals Scored:</b> {{ playerDetailData.goalsScored }}</li>
      <li><b>Goals Conceded:</b> {{ playerDetailData.goalsConceded }}</li>
      <li><b>Titles:</b> {{ playerDetailData.titles }}</li>
      <li>
        <span *ngIf="highestWinViewModel"
          ><b>Highest Win:</b> {{ highestWinViewModel?.thisPlayerScore }}:{{
            highestWinViewModel?.opposingPlayerScore
          }}
          gegen {{ highestWinViewModel?.opposingPlayer }}</span
        >
        <span *ngIf="!highestWinViewModel"> <b>Highest Win:</b> --- </span>
      </li>
    </ul>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Anzahl Titel aktualisieren'">
  <ng-template>
    <ui-common-simple-generic-form
      [formGroup]="titlesForm"
      [submitFunction]="submitFunction"
      [submitMessageText]="'Der Spieler wurde erfolgreich erstellt.'"
      [errorMessageText]="
        'Bei diesem Vorgang ist ein Fehler aufgetreten versuche es bitte erneut.'
      "
      (formSuccessfullSubmitted)="onFormSuccessfullSubmitted($event)"
    >
      <ng-template>
        <label class="title-input">Gewonnene Titel: </label>
        <input type="text" placeholder="Titel" formControlName="titles" />
      </ng-template>
    </ui-common-simple-generic-form>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Alle Spiele des Spielers'">
  <ng-template>
    <ui-common-table-data-list-with-action
      [dataSource]="playerGamesTableDataSource"
      [tableHeaderDisplayNames]="['ID', 'Heim', 'Heimtore', 'Auswärtstore', 'Auswärts']"
      [dataSourceDisplayProperties]="[
        'id',
        'homePlayerName',
        'homePlayerScore',
        'awayPlayerScore',
        'awayPlayerName'
      ]"
    >
    </ui-common-table-data-list-with-action>
  </ng-template>
</ui-common-card>
