.button-area {
  margin-top: 1rem;
}

.form-area {
  margin-bottom: 1rem;
}

.success-message {
  background-color: #368f8b;
  color: white;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 2px solid #1e3f20;
  padding: 0.25rem;
}

.error-message {
  background-color: #e15554;
  color: white;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 2px solid #772b14;
  padding: 0.25rem;
}

.message-with-button {
  display: flex;
  justify-content: space-between;
}

.dismiss-button {
  font-size: 70%;
  margin-right: 0.25rem;
  cursor: pointer;
}
