<div *ngIf="formGroup; else noFormGroupSpecified">
  <form
    class="pure-form"
    [ngClass]="{ 'pure-form-stacked': !inlineForm }"
    [formGroup]="formGroup"
    (keydown.enter)="$event.preventDefault()"
  >
    <fieldset>
      <div class="form-area">
        <ng-template *ngIf="templateRef" [ngTemplateOutlet]="templateRef"></ng-template>
      </div>
      <hr />
      <div class="button-area">
        <button
          type="submit"
          class="pure-button pure-button-primary"
          [disabled]="formIsLoadingState"
          (click)="onSubmit()"
        >
          Create
        </button>
        <ui-common-loading-spinner *ngIf="formIsLoadingState">
        </ui-common-loading-spinner>
      </div>
    </fieldset>
  </form>
  <div
    *ngIf="formSubmissionState == 'Success'"
    class="success-message message-with-button"
  >
    <span>{{ submitMessageText }}</span>
    <span class="dismiss-button" (click)="formSubmissionState = 'NotYetSubmitted'"
      >&#9587;</span
    >
  </div>
  <div *ngIf="formSubmissionState == 'Failure'" class="error-message message-with-button">
    <span>{{ errorMessageText }}</span>
    <span class="dismiss-button" (click)="formSubmissionState = 'NotYetSubmitted'"
      >&#9587;</span
    >
  </div>
</div>

<ng-template #noFormGroupSpecified
  >Please specify a form group to use this component.</ng-template
>
