<footer class="bg-secondary text-gray-300 text-sm flex flex-col content-center p-5">
  <div class="flex justify-center w-full">
    <span>Turniere by Adrian Baur</span>
    <div class="ml-2">
      <i
        class="fa fa-instagram mr-2 cursor-pointer"
        (click)="navigateToUrl('https://www.instagram.com/adrian_baur/')"
      ></i>
      <i
        class="fa fa-twitter mr-2 cursor-pointer"
        (click)="navigateToUrl('https://twitter.com/DerAdriYT')"
      ></i>
    </div>
  </div>

  <div class="flex justify-center w-full pt-2">
    <span>Website by Mark Heimer</span>
    <div class="ml-2">
      <i
        class="fa fa-twitter mr-2 cursor-pointer"
        (click)="navigateToUrl('https://twitter.com/the13_mark')"
      ></i>
      <i
        class="fa fa-code mr-2 cursor-pointer"
        (click)="navigateToUrl('https://me.cratory.de/')"
      ></i>
    </div>
  </div>

  <div class="flex justify-center w-full pt-2">
    <span>&copy; CopyRight - All Rights reserved</span>
  </div>
</footer>
