<div class="flex justify-center sm:justify-end mt-5 mb-5 horizontal-padding">
  <div
    class="flex justify-center w-3/4 sm:w-1/2 lg:w-1/3 border-2 border-secondary rounded-sm filter-style"
  >
    <div class="flex-grow flex items-center justify-center">
      <div>Ausgewähltes Jahr:</div>
    </div>
    <select
      class="bg-secondary text-white w-1/3 h-8 pl-3 pr-3 pb-1 pt-1"
      #yearSelector
      (ngModelChange)="selectionChanged($event)"
      [(ngModel)]="initialYear"
    >
      <option *ngFor="let year of availableYears" [ngValue]="year">
        {{ year | date: 'yyyy' }}
      </option>
    </select>
  </div>
</div>
