@import 'styleguide/main';

select::-ms-expand {
  display: none;
}

select {
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="11px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
}

.filter-style {
  -webkit-box-shadow: 6px 11px 22px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 11px 22px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 11px 22px -14px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.horizontal-padding {
  @media (min-width: $breakpoint-medium) {
    padding-right: 10%;
    padding-left: 10%;
  }
}
