<ui-common-card [cardHeader]="'Please login first'">
  <ng-template>
    <ui-common-simple-generic-form
      [formGroup]="loginForm"
      [submitFunction]="submitFunction"
      [submitMessageText]="'Login erfolgreich'"
      [errorMessageText]="'Der Login war nicht erfolgreich. Versuche es erneut.'"
      (formSuccessfullSubmitted)="onFormSuccessfullSubmitted()"
      [inlineForm]="false"
    >
      <ng-template>
        <label class="title-input">Username: </label>
        <input type="text" placeholder="Username" formControlName="username" />
        <label class="title-input">Password: </label>
        <input type="password" placeholder="Password" formControlName="password" />
      </ng-template>
    </ui-common-simple-generic-form>
  </ng-template>
</ui-common-card>
