<div
  class="w-full bg-gray-200 h-40 lg:h-56 flex justify-center image"
  [style.background-image]="backgroundImageStyle"
>
  <div class="flex items-center h-40 lg:h-56">
    <span class="text-white text-3xl font-bold">{{ headerText }}</span>
  </div>
</div>
