<ui-common-header-image
  [imageUrl]="'../../../assets/home/home-header.jpg'"
  [headerText]="'FIFA-TURNIER'"
>
</ui-common-header-image>

<ui-common-info-banner
  [heading]="'Home'"
  [text]="
    'Jährlich findet im ostthüringischen Molbitz das Molbitzer-Fifa-Turnier statt. Was als schlichtes Privatturnier im Wohnhaus der Baur`s begann, lockt nun regelmäßig mehr als 50 Teilnehmer an, die in einem fairen Wettkampf um 200€ Preisgeld, Ruhm, Ehre und die begehrte Baustoff-Wiechmann-Trophy spielen. Durch die über die Jahre gestiegenen Teilnehmer und Zuschauerzahlen wird das Turnier seit 2020 in der Kneipe in Molbitz ausgetragen.'
  "
></ui-common-info-banner>

<ui-common-divider></ui-common-divider>

<div class="grid grid-cols-1">
  <feature-home-media-with-text
    class="mt-10"
    [reverse]="false"
    [imageUrl]="'../../../assets/home/paul-big-min.jpg'"
    [quote]="
      'Das ist natürlich ein Unterschied ob du auf der Mainstage spielst oder auf einer Nebenstage. Da gucken dir alle auf die Finger, gerade bei den ersten Spielen ist man da natürlich aufgeregt, gerade auch mit dem Einlauf und allem drum herum.'
    "
    [author]="'Paul Klukas'"
    [profileImageUrl]="'../../../assets/home/paul-small.jpg'"
  ></feature-home-media-with-text>
  <feature-home-media-with-text
    [reverse]="true"
    [imageUrl]="'../../../assets/home/jakob-big.jpg'"
    [profileImageUrl]="'../../../assets/home/jakob-small.jpg'"
    [quote]="
      'Tief ein und aus atmen. Wenn das bei schwangeren Frauen hilft dann auch auf der Bühne um die Aufregung im Griff zu haben.'
    "
    [author]="'Jakob Dittmar'"
  ></feature-home-media-with-text>
  <feature-home-media-with-text
    class="mb-10"
    [reverse]="false"
    [imageUrl]="'../../../assets/home/peter-big-min.jpg'"
    [quote]="
      'Das Spiel der beiden Baur-Brüder gegeneinander. Wenn das mal noch stattfindet. Das wird ein Kracher!'
    "
    [profileImageUrl]="'../../../assets/home/peter-small.jpg'"
    [author]="'Peter Siegl'"
  >
  </feature-home-media-with-text>
</div>
