<div class="container">
  <ui-common-card [cardHeader]="'Neues Turnier erstellen'">
    <ng-template>
      <ui-common-simple-generic-form
        [formGroup]="tournamentForm"
        [submitFunction]="submitFunction"
        [submitMessageText]="'Das Turnier wurde erfolgreich erstellt.'"
        [errorMessageText]="
          'Bei diesem Vorgang ist ein Fehler aufgetreten versuche es bitte erneut.'
        "
        (formSuccessfullSubmitted)="onFormSuccessfullSubmitted($event)"
      >
        <ng-template>
          <label for="stacked-email" class="date-input">Date:</label>
          <input
            type="date"
            id="stacked-password"
            placeholder="Date"
            formControlName="date"
          />
        </ng-template>
      </ui-common-simple-generic-form>
    </ng-template>
  </ui-common-card>

  <ui-common-card [cardHeader]="'Alle Turniere'">
    <ng-template>
      <ui-common-table-data-list-with-action
        [dataSource]="allTournaments || []"
        [tableHeaderDisplayNames]="['ID', 'Datum']"
        [dataSourceDisplayProperties]="['id', 'date']"
        [tableActionIdentifier]="'id'"
      >
        <ng-template let-tableaction>
          <a [routerLink]="['../tournament', tableaction.linkParameter]">Zum Turnier</a>
        </ng-template></ui-common-table-data-list-with-action
      >
    </ng-template>
  </ui-common-card>
</div>
