<div class="w-full bg-accent min-h-20 lg:h-40 flex justify-center items-center">
  <div class="w-2/3 min-h-20 lg:h-40 flex flex-col justify-around pt-5 pb-5">
    <div class="w-full h-3 flex justify-center items-center">
      <hr class="horizontal-line" />
    </div>
    <div class="text-infoBanner text-center text-sm">
      {{ text }}
    </div>
    <div class="w-full h-3 flex justify-center items-center">
      <hr class="horizontal-line" />
    </div>
  </div>
</div>
