<ui-common-card [cardHeader]="'Aktuelles Turnier'">
  <ng-template>
    <ul>
      <li>Id: {{ tournamentDetailData.id }}</li>
      <li>Datum: {{ tournamentDetailData.date | date: 'mediumDate' }}</li>
    </ul>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Neue Runde erstellen'">
  <ng-template>
    <ui-common-simple-generic-form
      [formGroup]="roundForm"
      [submitFunction]="submitFunction"
      [submitMessageText]="'Die Runde wurde erfolgreich erstellt.'"
      [errorMessageText]="
        'Bei diesem Vorgang ist ein Fehler aufgetreten versuche es bitte erneut.'
      "
      (formSuccessfullSubmitted)="onFormSuccessfullSubmitted($event)"
    >
      <ng-template>
        <label class="title-input">Titel:</label>
        <input type="text" placeholder="Titel" formControlName="title" />
      </ng-template>
    </ui-common-simple-generic-form>
  </ng-template>
</ui-common-card>

<ui-common-card [cardHeader]="'Alle Runden'">
  <ng-template>
    <ui-common-table-data-list-with-action
      [dataSource]="roundListDataSource"
      [tableHeaderDisplayNames]="['ID', 'Titel']"
      [dataSourceDisplayProperties]="['id', 'title']"
      [tableActionIdentifier]="'id'"
    >
      <ng-template let-tableaction>
        <a [routerLink]="['./round', tableaction.linkParameter]">Zur Runde</a>
      </ng-template>
    </ui-common-table-data-list-with-action>
  </ng-template>
</ui-common-card>
