<div class="header">
  <div class="pure-menu pure-menu-horizontal flex-items-center">
    <a class="pure-menu-heading" *ngIf="!loadingIndicator" href="">ADMINISTRATION</a>
    <span class="lds-dual-ring" *ngIf="loadingIndicator"></span>
    <ul class="pure-menu-list">
      <li
        class="pure-menu-item"
        routerLink="admin/tournaments"
        routerLinkActive="pure-menu-selected"
      >
        <a class="pure-menu-link">Turnierverwaltung</a>
      </li>
      <li
        class="pure-menu-item"
        routerLink="admin/players"
        routerLinkActive="pure-menu-selected"
      >
        <a class="pure-menu-link">Spielerverwaltung</a>
      </li>
    </ul>
  </div>
</div>

<div class="outer-container">
  <div class="inner-container">
    <router-outlet></router-outlet>
  </div>
</div>
