@import 'styleguide/main';

.outer-container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
}

.inner-container {
  width: 80%;
}

.header .pure-menu {
  border-bottom-color: black;
  border-radius: 0;
}

.pure-menu-link {
  padding: 1em 0.7em;
}

li {
  cursor: pointer;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #368f8b;
  border-color: #368f8b transparent #368f8b transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-items-center {
  display: flex;
  align-items: center;
}
